<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
</head>
<body>
    <h1>URL shortener</h1>
    <form action="{% url 'index' %}" method="post">
        {% csrf_token %}
        <input type="url" name="url" id="url" placeholder="Enter URL" required>
        <input type="submit" value="Shorten">
    </form>
    {% if short_url %}
        <h2>Shortened URL</h2>
        <a href="{{ short_url }}">{{ short_url }}</a>
    {% endif %}
</body>
</html>